- if current_page?(root_path)
  .navbar.navbar-dark.navbar-expand-lg.position-sticky.home-nav
    = link_to :root, class: 'hidden-sm d-flex align-items-center text-decoration-none' do
      .logo-image-container.text-gold.pt-3
        = image_tag '/images/logos/PALA Transp.png'
    %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar-content.text-right
      %ul.navbar-nav.pl-0.pl-lg-4.text-medium
        = link_to about_path, class: 'nav-link nav-item bg-darkblue p-2' do
          =icon 'fas text-small', 'info-circle'
          About
        %li.nav-item.pl-0.pl-lg-4.text-medium
          =link_to admin_products_path, class: 'nav-link nav-item bg-darkblue p-2' do
            =icon 'fas text-small', 'shopping-cart'
            Products
        %li.nav-item.pl-0.pl-lg-4.text-medium
          =link_to contact_path, class: 'nav-link nav-item bg-darkblue p-2' do
            =icon 'fas text-small', 'envelope'
            Contact
        - if user_signed_in? && current_user.manager?
          %li.nav-item.pl-0.pl-lg-4.text-medium
            =link_to products_path, class: 'nav-link nav-item bg-darkblue p-2' do
              = icon 'fas', 'user-circle'
              Admin

        - if user_signed_in?
          %li.nav-item.pl-0.pl-lg-4.text-medium
            = link_to destroy_user_session_path, class: 'nav-link nav-item bg-darkblue p-2', method: :delete, title: "Log out of the system" do
              = icon 'fas', 'sign-out-alt', 'Log out'
        -else 
          %li.nav-item.pl-0.pl-lg-4.text-medium
            = link_to new_user_session_path, class: 'nav-link nav-item bg-darkblue p-2', method: :create, title: "Log in to the system" do
              = icon 'fas', 'sign-in-alt', 'Log In'
        
  

-else
  .navbar.navbar-dark.navbar-expand-lg.position-sticky.bg-darkblue
    = link_to :root, class: 'hidden-sm d-flex align-items-center text-decoration-none' do
      .logo-image-container
        = image_tag '/images/logos/PALA Transp.png'
    %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar-content
      %ul.navbar-nav.pl-0.pl-lg-4.text-medium
        = link_to about_path, class: 'nav-link nav-item p-2' do
          =icon 'fas text-small', 'info-circle'
          About
        %li.nav-item.pl-0.pl-lg-4.text-medium
          =link_to admin_products_path, class: 'nav-link nav-item bg-darkblue p-2' do
            =icon 'fas text-small', 'shopping-cart'
            Products
        %li.nav-item.pl-0.pl-lg-4.text-medium
          =link_to contact_path, class: 'nav-link nav-item bg-darkblue p-2' do
            =icon 'fas text-small', 'envelope'
            Contact
        - if user_signed_in? && current_user.manager?
          %li.nav-item.pl-0.pl-lg-4.text-medium
            =link_to products_path, class: 'nav-link nav-item bg-darkblue p-2' do
              = icon 'fas', 'user-circle'
              Admin

        - if user_signed_in?
          %li.nav-item.pl-0.pl-lg-4.text-medium
            = link_to destroy_user_session_path, class: 'nav-link nav-item bg-darkblue p-2', method: :delete, title: "Log out of the system" do
              = icon 'fas', 'sign-out-alt', 'Log out'
        -else 
          %li.nav-item.pl-0.pl-lg-4.text-medium
            = link_to new_user_session_path, class: 'nav-link nav-item bg-darkblue p-2', method: :create, title: "Log in to the system" do
              = icon 'fas', 'sign-in-alt', 'Log In'


          