- if current_page?(root_path)
  .navbar.navbar-dark.navbar-expand-lg.position-sticky.home-nav
    = link_to :root, class: 'hidden-sm d-flex align-items-center text-decoration-none' do
      .logo-image-container.text-gold.pt-3
        = image_tag '/images/logos/PALA Transp.png'
    %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar-content
      %ul.nav.navbar-nav.pl-0.pl-lg-4.text-gold
        
          

    %ul.nav.navbar-nav.ml-auto
      %li.nav-item.dropdown.text-gold
        =link_to about_path, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link ', role: 'button' do
          =icon 'fas text-small', 'info-circle'
          About
        %b.caret
    %ul.nav.navbar-nav.ml-auto
      %li.nav-item.dropdown.text-gold
        =link_to products_gallery_path, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link ', role: 'button' do
          =icon 'fas text-small', 'shopping-cart'
          Products
    %ul.nav.navbar-nav.ml-auto
      %li.nav-item.dropdown.text-gold
        = link_to contact_path, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link dropdown-toggle text-hover-gray', role: 'button' do
          =icon 'fas text-small', 'envelope'
          Contact Us
        %b.caret
      .dropdown-menu.dropdown-menu-right
        =link_to products_path, class: 'dropdown-item', title: "Go to Products" do
          =icon 'fas text-small', 'shopping-cart'
          Products

-else
  .navbar.navbar-dark.navbar-expand-lg.position-sticky.bg-darkblue
    = link_to :root, class: 'hidden-sm d-flex align-items-center text-decoration-none' do
      .logo-image-container.text-gold
        = image_tag '/images/logos/PALA Transp.png'
    %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar-content
      %ul.nav.navbar-nav.pl-0.pl-lg-4.text-gold
        
          

    %ul.nav.navbar-nav.ml-auto
      %li.nav-item.dropdown.text-gold
        =link_to about_path, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link', role: 'button' do
          =icon 'fas text-small', 'info-circle'
          About
        %b.caret

    %ul.nav.navbar-nav.ml-auto
      %li.nav-item.dropdown.text-gold
        =link_to products_gallery_path, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link ', role: 'button' do
          =icon 'fas text-small', 'shopping-cart'
          Products
    %ul.nav.navbar-nav.ml-auto
      %li.nav-item.dropdown.text-gold
        =link_to contact_path, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link ', role: 'button' do
          =icon 'fas text-small', 'envelope'
          Contact Us
        %b.caret
          
          