.row.justify-content-center.flex-column.flex-md-row
  .col-12.col-md-10
    .row.justify-content-center.flex-column.flex-md-row
      .col-12.col-md-6
        .product-image.pt-4
          - if @product.avatar&.attached?
            = image_tag(rails_blob_url(@product.avatar))
      .col-12.col-md-6.text-medium
        .p-2.pt-4
          %strong 
            = @product.description
        .p-2
          MWK 
          = @product.price_VAT_Inclusive
        .p-2 
          Specificaion:
          = @product.specification
        .p-2
          Number Per Sq: 
          = @product.layer_per_sq
        .p-2
          Uses:
          = @product.uses
        .p-2 
          Delivery: MWK 2000 per Kilometer         

        .row.justify-content-center.flex-column.flex-md-row.pt-5
          .col-12.col-md-4.p-2
            .border-gold.text-center.rounded.text-gold.p-2
              = link_to "https://api.whatsapp.com/send?phone=265994962381&text=Hello,%20I%20would%20like%20to%20enquire%20about%20one%20of%20your%20blocks%20advertised%20on%20your%20website.", class: "text-decoration-none text-gold" do
                Enquire