%p#notice= notice

%p
  %b Description:
  = @product.description
%p
  %b Specification:
  = @product.specification
%p
  %b Price vat inclusive:
  = @product.price_VAT_Inclusive

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
